*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    135deg,
    #071c4d,
    #381a77);

    color:white;
}

.container{

    width:700px;

    background:
    rgba(0,0,0,0.25);

    backdrop-filter:blur(15px);

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.4);
}

.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;
}

.header h1{

    font-size:45px;
}

#themeBtn{

    border:none;

    padding:12px 20px;

    border-radius:10px;

    background:#1f2937;

    color:white;

    cursor:pointer;
}

.inputBox{

    display:flex;

    gap:15px;
}

.inputBox input{

    flex:1;

    padding:15px;

    border-radius:10px;

    border:1px solid #6366f1;

    background:#111827;

    color:white;

    font-size:17px;
}

.inputBox button{

    padding:15px 25px;

    border:none;

    border-radius:10px;

    background:
    linear-gradient(
    90deg,
    #8b5cf6,
    #3b82f6);

    color:white;

    cursor:pointer;

    font-size:16px;
}

#counter{

    margin-top:20px;

    margin-bottom:20px;
}

ul{

    list-style:none;
}

li{

    background:
    rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    padding:15px;

    margin-bottom:15px;

    border-radius:12px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.taskText{

    flex:1;
}

.completed{

    text-decoration:line-through;

    opacity:0.6;
}

.actions button{

    margin-left:8px;

    border:none;

    padding:10px;

    border-radius:8px;

    cursor:pointer;
}

.completeBtn{

    background:#22c55e;

    color:white;
}

.editBtn{

    background:#3b82f6;

    color:white;
}

.deleteBtn{

    background:#ef4444;

    color:white;
}

@media(max-width:768px){

.container{

    width:95%;
}

.header{

    flex-direction:column;

    gap:15px;
}

.inputBox{

    flex-direction:column;
}

}